<a href="https://colab.research.google.com/github/fkeppeler/Coursera_Capstone/blob/master/Clash_of_Neighbourhoods_Capstone_DataScienceIBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip install geojson
#!pip install folium
#!pip install Shapely

import urllib
import pandas as pd
from geopy.geocoders import Nominatim
from shapely.geometry import Point, Polygon
import folium
import json

In [121]:
# Get the dataset metadata by passing package_id to the package_search endpoint
# For example, to retrieve the metadata for this dataset:
 
url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show"
params = { "id": "4def3f65-2a65-4a4f-83c4-b2a4aed72d46"}
response = urllib.request.urlopen(url, data=bytes(json.dumps(params), encoding="utf-8"))
package = json.loads(response.read())
 
# Get the data by passing the resource_id to the datastore_search endpoint
# See https://docs.ckan.org/en/latest/maintaining/datastore.html for detailed parameters options
# For example, to retrieve the data content for the first resource in the datastore:
 
for idx, resource in enumerate(package["result"]["resources"]):
    if resource["datastore_active"]:
        url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/datastore_search"
        p = { "id": resource["id"] }
        r = urllib.request.urlopen(url, data=bytes(json.dumps(p), encoding="utf-8"))
        data = json.loads(r.read())
        neighbourhoods = pd.DataFrame(data["result"]["records"])
        break

neighbourhoods.sort_values(by=['AREA_LONG_CODE'],inplace=True)
neighbourhoods['AREA_LONG_CODE']=neighbourhoods.AREA_LONG_CODE.astype(int)
neighbourhoods.rename (columns={'AREA_LONG_CODE':'Neighbourhood Id'},inplace=True)
neighbourhoods=neighbourhoods[['Neighbourhood Id','LONGITUDE','LATITUDE','geometry']]

neighbourhoods.head()

    Neighbourhood Id  ...                                           geometry
63                 1  ...  {"type": "Polygon", "coordinates": [[[-79.5523...
20                 2  ...  {"type": "Polygon", "coordinates": [[[-79.6033...
56                 3  ...  {"type": "Polygon", "coordinates": [[[-79.5775...
40                 4  ...  {"type": "Polygon", "coordinates": [[[-79.5551...
70                 7  ...  {"type": "Polygon", "coordinates": [[[-79.5266...

[5 rows x 4 columns]

In [122]:
# Create URL to Excel file (alternatively this can be a filepath)
url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/15a37448-b27e-44d2-9c2e-52e148c8894f/resource/335e3407-d3ca-422a-bfac-e3807cfbe0d5/download/wellbeing-toronto-demographics.xlsx'

# Load the first sheet of the Excel file into a data frame
socio_economic = pd.read_excel(url, sheet_name=1,header=1)
socio_economic.head()

                       Neighbourhood  ...     After-Tax Household Income
0             West Humber-Clairville  ...                          63977
1  Mount Olive-Silverstone-Jamestown  ...                          49601
2       Thistletown-Beaumond Heights  ...                          54910
3                    Rexdale-Kipling  ...                          53779
4                   Elms-Old Rexdale  ...                          55054

[5 rows x 85 columns]

In [123]:
neighbourhoods_merged=pd.merge (neighbourhoods,socio_economic,how='inner',on='Neighbourhood Id')
neighbourhoods_merged.head()

   Neighbourhood Id  ...     After-Tax Household Income
0                 1  ...                          63977
1                 2  ...                          49601
2                 3  ...                          54910
3                 4  ...                          53779
4                 7  ...                          64594

[5 rows x 88 columns]

In [124]:
url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/datastore/dump/02ef7447-54d9-4aa7-b76d-8ef8138ac546'
schools = pd.read_csv(url,header=0)
schools.head()

    _id  OBJECTID  ...  LONGITUDE                                           geometry
0  7735         1  ... -79.385190  {"type": "Point", "coordinates": [-79.38518674...
1  7736         2  ... -79.411846  {"type": "Point", "coordinates": [-79.41184315...
2  7737         3  ... -79.325220  {"type": "Point", "coordinates": [-79.32521641...
3  7738         4  ... -79.429570  {"type": "Point", "coordinates": [-79.42956699...
4  7739         5  ... -79.477445  {"type": "Point", "coordinates": [-79.47744198...

[5 rows x 29 columns]

In [134]:
neigh_school = []

for i in range(0,schools.shape[0]):
  lon, lat = schools.iloc [i,[27,26]]
  point_temp= Point(lon, lat)
  test= False
  k=0
  while test == False:
    coord_raw = eval (neighbourhoods_merged['geometry'][k]) #convert to dict
    coord=coord_raw.get("coordinates") 
    coord=tuple(coord[0]) #convert to tuple and extract only the coordinates
    poly=Polygon(coord) #create polygon
    if point_temp.within(poly) == True:
      neigh_school.append (neighbourhoods_merged['Neighbourhood'][k])
      test=True
    else:
      test=False
      k += 1
      if k > 99:
        neigh_school.append (None)
        test= True


schools['Neighbourhood'] = neigh_school
schools.head()


#

    _id  ...            Neighbourhood
0  7735  ...          Bayview Village
1  7736  ...         Newtonbrook East
2  7737  ...                     None
3  7738  ...     Bedford Park-Nortown
4  7739  ...  York University Heights

[5 rows x 30 columns]

In [138]:
schools= schools[schools['Neighbourhood'].notna()]
schools.head()

    _id  ...            Neighbourhood
0  7735  ...          Bayview Village
1  7736  ...         Newtonbrook East
3  7738  ...     Bedford Park-Nortown
4  7739  ...  York University Heights
7  7742  ...                 Oakridge

[5 rows x 30 columns]